$mainFont: 'Roboto Condensed', sans-serif;
$mainFontColor: #193446;
$topBannerBackgroundColor: #c3d4de81;
$topBannerFont: 'Lato', sans-serif;
$topBannerFontColor: #2e6288;
$inputFontFamily: 'Lato', sans-serif;
$inputFontColor: #99abb9;
$submitButtonBackgroundColor: #ffffff;
$submitButtonFontColor: #99abb9;
$submitButtonBackgroundColorHover: #99abb9;
$submitButtonFontColorHover: #ffffff;
$submitButtonFontSize: 14px;

$navLinksFontColor: #99abb9;
$navLinksFontSize: 16px;
$mainTitleFont: 'Sriracha', cursive;
$navLinksFontColorHover: #526370;
$mainTitleFontColor: #e8c77a;

$mainDishesFontColor: #545480;
$mainDishesTitleColor: #e8c77a;
$dinnerDishDescriptionFontColor: #545480;


$aboutMeSectionBackgroundColor: #c3d4de46;
$aboutMeSectionTitleColor: #e2b49a;
$aboutMeSectionTextColor: #545480;
$aboutMeSectionDogTextColor: #545480;

$postDateFontColor: #e2b49a;
$postTitleRecipeFontColor: #183346;
$postParagraphRecipeFontColor: #99abb9;
$continueReadingFontColor: #dd837371;

$advertisingTitleFontColor: #545480;

$footerTitleFontColor: #99abb9;
$footerParagraphFontColor: #e8c77a;
$inputFooterFontColor: #e8c77a;
$submitButtonFooterBackgroundColor: #c3d4de;
